import /tee-supplicant.rc
import /vendor/etc/init/android.hardware.security.keymint.mitee@4.0-service.rc
import /miteelog.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    copy /vendor/lib64/libkeymaster_messages.so /system/lib64/libkeymaster_messages.so
    copy /vendor/lib64/libkeymaster_portable.so /system/lib64/libkeymaster_portable.so
    copy /vendor/lib64/libkeymint.so /system/lib64/libkeymint.so
    copy /vendor/lib64/libkeymint_support.so /system/lib64/libkeymint_support.so
    copy /vendor/lib64/libkeymaster4support.so /system/lib64/libkeymaster4support.so
    copy /vendor/lib64/lib_android_keymaster_keymint_utils.so /system/lib64/lib_android_keymaster_keymint_utils.so
    copy /vendor/lib64/libpuresoftkeymasterdevice.so /system/lib64/libpuresoftkeymasterdevice.so
    copy /vendor/lib64/libsoft_attestation_cert.so /system/lib64/libsoft_attestation_cert.so

on early-fs
    rm /system/etc/vintf/manifest/android.hardware.boot-service.mtk.xml
    rm /system/etc/vintf/manifest/android.hardware.health-service.example.xml
    mkdir /tmp/misc 0771 system system
    mkdir /tmp/misc/keystore 0700 keystore keystore
    symlink /dev/block/platform/soc/112b0000.ufshci /dev/block/platform/bootdevice
    symlink /dev/block/platform/soc/112b0000.ufshci /dev/block/bootdevice
    symlink /dev/block/platform/soc/112b0000.ufshci/by-name /dev/block/bootdevice/by-name
    symlink /dev/block/platform/soc/112b0000.ufshci/by-name /dev/block/by-name
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start servicemanager
    start hwservicemanager
    start tee-supplicant
    start vendor.keymint-mitee
    start keystore2
    start vold

on fs
    setprop sys.usb.config adb
    start adbd

    chmod 0660 /dev/block/sdc1
    chown root system /dev/block/sdc1

    mkdir /mnt/vendor 0775 root root
    mkdir /mnt/vendor/protect_f 0770 system system
    mkdir /mnt/vendor/protect_s 0770 system system
    mkdir /mnt/vendor/nvdata 0771 root system
    mkdir /mnt/vendor/nvcfg 0771 system system
    mkdir /mnt/vendor/persist 0755 root root

    wait /dev/block/by-name/protect1 3
    mount ext4 /dev/block/by-name/protect1 /mnt/vendor/protect_f noatime nosuid nodev wait
    mount ext4 /dev/block/by-name/protect2 /mnt/vendor/protect_s noatime nosuid nodev wait
    mount ext4 /dev/block/by-name/nvdata /mnt/vendor/nvdata noatime nosuid nodev wait
    mount ext4 /dev/block/by-name/nvcfg /mnt/vendor/nvcfg noatime nosuid nodev wait
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist noatime nosuid nodev wait

    restorecon_recursive /metadata
    restorecon_recursive /mnt/vendor/persist

    mkdir /mnt/vendor/persist/data 0755 system system
    mkdir /mnt/vendor/persist/fdsd 0755 system system

    setprop vendor.teefs_state ready
    setprop ro.hardware.gatekeeper mitee
    start vendor.gatekeeper_mitee

on post-fs
    mkdir /dev/usb-ffs 0775 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mkdir /config/usb_gadget/g1 0770 shell shell
    write /config/usb_gadget/g1/idVendor 0x18D1
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    write /config/usb_gadget/g1/os_desc/use 1
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/functions/ffs.mtp
    write /config/usb_gadget/g1/functions/ffs.mtp/os_desc/interface.MTP/compatible_id "MTP"
    mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
    mount functionfs adb /dev/usb-ffs/adb rmode=0770,fmode=0660,uid=2000,gid=2000,no_disconnect=1
    mkdir /dev/usb-ffs/mtp 0775 system system
    mount functionfs mtp /dev/usb-ffs/mtp rmode=0775,fmode=0666,uid=1024,gid=1024,no_disconnect=1
    exec_background - system log -- /system/bin/recovery-refresh
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

on post-fs-data
#    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/f0_save
#    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/osc_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/f0_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/osc_save
#    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave
#    chmod 0666 /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

#service haptic_hal /system/bin/haptic_hal.sh
#    user root
#    group root
#    disabled
#    oneshot
#    seclabel u:r:recovery:s0

service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service delayed_gatekeeper /system/bin/sh -c "sleep 1; start vendor.gatekeeper_mitee"
    class core
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start prepdecrypt

on property:crypto.ready=1
    start tee-supplicant
    start vendor.keymint-mitee
    start delayed_gatekeeper
    start keystore2

on property:hwservicemanager.ready=true
    start miteelog

on property:servicemanager.ready=true
    start vendor.boot-default

on property:ro.crypto.state=unsupported
    stop vendor.keymint-mitee
    stop vendor.gatekeeper_mitee
    stop tee-supplicant

on property:twrp.all.users.decrypted=true
    stop vendor.keymint-mitee
    stop vendor.gatekeeper_mitee
    stop tee-supplicant
    stop miteelog

#on property:twrp.modules.loaded=true
#    start haptic_hal

on boot
    setprop sys.usb.config adb
    start adbd
    start vendor.health-default
    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0x80
    write /sys/module/usb_f_mtp/parameters/mtp_rx_cont 1

    # Vibrator
    chown system system /sys/class/leds/vibrator/trigger
    write /sys/class/leds/vibrator/trigger "transient"
    write /sys/class/leds/vibrator/state 1
    write /sys/class/leds/vibrator/duration 0
    write /sys/class/leds/vibrator/activate 0
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chmod 0666 /sys/class/leds/vibrator/activate
    chmod 0666 /sys/class/leds/vibrator/brightness
    chmod 0666 /sys/class/leds/vibrator/duration
    chmod 0666 /sys/class/leds/vibrator/state
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0666 /sys/class/timed_output/vibrator/enable

    # Flashlight
    mkdir /tmp/flashlight 0755 root root
    symlink /sys/devices/platform/soc/soc:flashlights_mt6855/torch_brightness /tmp/flashlight/brightness
    write /tmp/flashlight/max_brightness 32
    chown system system /sys/devices/platform/soc/soc:flashlights_mt6855/torch_brightness
    chmod 0666 /sys/devices/platform/soc/soc:flashlights_mt6855/torch_brightness
    chmod 0666 /tmp/flashlight/brightness
    chmod 0666 /tmp/flashlight/max_brightness

# save logs to cache/ 
    exec u:r:recovery:s0 root root -- /system/bin/sh -c "sleep 2; dmesg > /cache/twrp_boot_dmesg.log 2>&1; cat /proc/kallsyms > /cache/twrp_kallsyms.log 2>&1; cat /proc/bus/input/devices > /cache/twrp_input_devices.log 2>&1"

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0
on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1

# USB Configfs support
on property:sys.usb.config=none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    stop adbd
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.ffs.mtp.ready 0
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/idProduct 0xD001
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp && property:sys.usb.ffs.mtp.ready=1 && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/idProduct 0x4EE1
    symlink /config/usb_gadget/g1/functions/ffs.mtp /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.ffs.mtp.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/idProduct 0x4EE2
    symlink /config/usb_gadget/g1/functions/ffs.mtp /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
